<div class="main">
    <button [disabled]="pagination().prev === null" (click)="arrowPageChange('-')"> Prev </button>
    @for(page of pages(); track $index) {
        <button 
            class="paginator" 
            [class.active]="page.toString() === currentPage()"
            (click)="goToPage(page)"> {{ page }} 
        </button>
    }
    <!-- <button [disabled]="pagination().next === null" disabled (click)="arrowPageChange('+')"> Next</button> -->


    <mat-icon class="arrows">arrow_forward</mat-icon>

</div>